In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
Train = pd.read_csv('/content/train_yaOffsB.csv')
Test = pd.read_csv('/content/test_pFkWwen.csv')

In [3]:
Train.head()

          ID  Estimated_Insects_Count  ...  Season  Crop_Damage
0  F00000001                      188  ...       1            0
1  F00000003                      209  ...       2            1
2  F00000004                      257  ...       2            1
3  F00000005                      257  ...       2            1
4  F00000006                      342  ...       2            1

[5 rows x 10 columns]

In [4]:
Test.head()

          ID  Estimated_Insects_Count  ...  Number_Weeks_Quit  Season
0  F00000002                      188  ...                  0       2
1  F00000007                      410  ...                  0       2
2  F00000011                      626  ...                  0       2
3  F00000013                      731  ...                  0       2
4  F00000014                      789  ...                  0       1

[5 rows x 9 columns]

In [5]:
Train.isnull().sum()

ID                            0
Estimated_Insects_Count       0
Crop_Type                     0
Soil_Type                     0
Pesticide_Use_Category        0
Number_Doses_Week             0
Number_Weeks_Used          9000
Number_Weeks_Quit             0
Season                        0
Crop_Damage                   0
dtype: int64

In [6]:
Train['Number_Weeks_Used'].describe()

count    79858.000000
mean        28.623970
std         12.391881
min          0.000000
25%         20.000000
50%         28.000000
75%         37.000000
max         67.000000
Name: Number_Weeks_Used, dtype: float64

In [7]:
Test.isnull().sum()

ID                            0
Estimated_Insects_Count       0
Crop_Type                     0
Soil_Type                     0
Pesticide_Use_Category        0
Number_Doses_Week             0
Number_Weeks_Used          5893
Number_Weeks_Quit             0
Season                        0
dtype: int64

In [8]:
Train.dtypes

ID                          object
Estimated_Insects_Count      int64
Crop_Type                    int64
Soil_Type                    int64
Pesticide_Use_Category       int64
Number_Doses_Week            int64
Number_Weeks_Used          float64
Number_Weeks_Quit            int64
Season                       int64
Crop_Damage                  int64
dtype: object

In [9]:
Train['Number_Weeks_Used'].fillna(Train['Number_Weeks_Used'].mean(), inplace=True)

In [10]:
Test['Number_Weeks_Used'].fillna(Test['Number_Weeks_Used'].mean(), inplace=True)

In [11]:
Train.isnull().sum()

ID                         0
Estimated_Insects_Count    0
Crop_Type                  0
Soil_Type                  0
Pesticide_Use_Category     0
Number_Doses_Week          0
Number_Weeks_Used          0
Number_Weeks_Quit          0
Season                     0
Crop_Damage                0
dtype: int64

In [12]:
Test.isnull().sum()

ID                         0
Estimated_Insects_Count    0
Crop_Type                  0
Soil_Type                  0
Pesticide_Use_Category     0
Number_Doses_Week          0
Number_Weeks_Used          0
Number_Weeks_Quit          0
Season                     0
dtype: int64

In [13]:
ID_test = Test['ID']
Test = Test.drop(labels='ID', axis=1)

In [14]:
Train.describe()

       Estimated_Insects_Count     Crop_Type  ...        Season   Crop_Damage
count             88858.000000  88858.000000  ...  88858.000000  88858.000000
mean               1399.012210      0.284375  ...      1.896959      0.190562
std                 849.048781      0.451119  ...      0.701322      0.454215
min                 150.000000      0.000000  ...      1.000000      0.000000
25%                 731.000000      0.000000  ...      1.000000      0.000000
50%                1212.000000      0.000000  ...      2.000000      0.000000
75%                1898.000000      1.000000  ...      2.000000      0.000000
max                4097.000000      1.000000  ...      3.000000      2.000000

[8 rows x 9 columns]

In [15]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88858 entries, 0 to 88857
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       88858 non-null  object
 1   Estimated_Insects_Count  88858 non-null  int64
 2   Crop_Type                88858 non-null  int64
 3   Soil_Type                88858 non-null  int64
 4   Pesticide_Use_Category   88858 non-null  int64
 5   Number_Doses_Week        88858 non-null  int64
 6   Number_Weeks_Used        88858 non-null  float64
 7   Number_Weeks_Quit        88858 non-null  int64
 8   Season                   88858 non-null  int64
 9   Crop_Damage              88858 non-null  int64
dtypes: float64(1), int64(8), object(1)
memory usage: 6.8+ MB

In [16]:
Ytrain = Train['Crop_Damage']
Xtrain = Train.drop(labels = ['ID','Crop_Damage'] , axis =1)

In [17]:
Ytrain.shape

(88858,)

In [18]:
Xtrain.shape

(88858, 8)

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Xtrain,Ytrain, test_size = 0.25, random_state=1)

In [20]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
X_train_minmax = min_max_scaler.fit_transform(X_train)
X_test_minmax = min_max_scaler.fit_transform(X_test)
X_test_final = min_max_scaler.fit_transform(Test)

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
LR = LogisticRegression()
LR.fit(X_train_minmax,y_train)
y_pred = LR.predict(X_test_minmax)

accuracy = accuracy_score(y_pred, y_test)

In [22]:
print(accuracy)

0.8316452847175332

In [23]:
from xgboost import XGBClassifier
xgb = XGBClassifier(learning_rate=0.1, n_estimators=200, max_depth=4, min_child_weight=7, 
                      gamma=0.4,nthread=4, subsample=0.8, colsample_bytree=0.8, objective= 'binary:logistic',scale_pos_weight=3,seed=29)

xgb.fit(X_train_minmax, y_train)
y_pred_xgb = xgb.predict(X_test_minmax)

accuracy_xgb = accuracy_score(y_pred_xgb, y_test)

In [24]:
print(accuracy_xgb)

0.8434391177132569

In [25]:
Train.head()

          ID  Estimated_Insects_Count  ...  Season  Crop_Damage
0  F00000001                      188  ...       1            0
1  F00000003                      209  ...       2            1
2  F00000004                      257  ...       2            1
3  F00000005                      257  ...       2            1
4  F00000006                      342  ...       2            1

[5 rows x 10 columns]

In [26]:
Test.head()

   Estimated_Insects_Count  Crop_Type  ...  Number_Weeks_Quit  Season
0                      188          1  ...                  0       2
1                      410          1  ...                  0       2
2                      626          1  ...                  0       2
3                      731          1  ...                  0       2
4                      789          0  ...                  0       1

[5 rows x 8 columns]

In [27]:
Crop_Damage = pd.Series(np.abs(xgb.predict(X_test_final)), name="Crop_Damage")

results = pd.concat([ID_test,Crop_Damage],axis=1)

results.to_csv("submission.csv",index=False)

In [29]:
Crop_Damage = pd.Series(np.abs(LR.predict(X_test_final)), name="Crop_Damage")

results = pd.concat([ID_test,Crop_Damage],axis=1)

results.to_csv("submission_LR.csv",index=False)

In [30]:
from sklearn.ensemble import AdaBoostClassifier

Ada = AdaBoostClassifier()
Ada.fit(X_train_minmax, y_train)
y_pred_Ada = Ada.predict(X_test_minmax)

accuracy_Ada = accuracy_score(y_pred_xgb, y_test)

In [31]:
print(accuracy_Ada)

0.8434391177132569

In [32]:
Crop_Damage = pd.Series(np.abs(Ada.predict(X_test_final)), name="Crop_Damage")

results = pd.concat([ID_test,Crop_Damage],axis=1)

results.to_csv("submission_Ada.csv",index=False)